<!DOCTYPE HTML>

<!--
Stellar by HTML5 UP
html5up.net | @ajlkn
Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
    <title>Aide Stage | Accueil </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="/assets/js/ie/html5shiv.js"></script>
    <link rel="stylesheet" href="/assets/css/main.css" />
</head>

<body>


{{ include('eleve/header.html.twig') }}
<div id="main">
    <section id="wrapper">
        <header>
            <div class="inner">
                <div class="logo"><span class="icon fa-plus"></span></div>
                <h2>Formulaire pour l'ajout d'un stage</h2>
                <p>Envoi pour enregistrement dans la base de données.</p>
            </div>
        </header>
        <div class="wrapper">
            <div class="inner">
                <section>
                    <h3 class="major">Formulaire</h3>
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <br /><button>Envoyer</button>
                    {{ form_end(form) }}
                </section>
            </div>
        </div>
    </section>
    {{ include('eleve/footer.html.twig') }}
</div>
</div>
</body>
</html>

