<!DOCTYPE HTML>
<!--
Stellar by HTML5 UP
html5up.net | @ajlkn
Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
    <title>Aide Stage | Liste des élève avec stage</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="/assets/js/ie/html5shiv.js"></script>
    <link rel="stylesheet" href="/assets/css/main.css" />
</head>

<body>

<!-- Wrapper -->
<div id="wrapper">
    {{ include ('prof/header.html.twig') }}

    <!-- Main -->
    <div id="main">

        <!-- Introduction -->
        <section id="intro" class="main">
            <center>
                <h2> Liste des élèves avec stage </h2>
                <br>
                <table border="2px">
                    <th>Nom</th>
                    <th>Ville</th>
                    <th>CP</th>
                    <th>Adresse</th>
                    <th>Mail</th>
                    <th>Téléphone</th>
                    <th>Activité</th>
                    <th>Active</th>
                    {% for entreprise in entreprises %}
                        <tr>
                            <td>{{ entreprise.nomEntreprise }}</td>
                            <td>{{ entreprise.villeEntreprise }}</td>
                            <td>{{ entreprise.cpEntreprise }}</td>
                            <td>{{ entreprise.adresseEntreprise }}</td>
                            <td>{{ entreprise.mailEntreprise }}</td>
                            <td>{{ entreprise.telEntreprise }}</td>
                            <td>{{ entreprise.activiteEntreprise }}</td>
                            <td>{{ entreprise.active }}</td>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </center>
        </section>
        {{ include('prof/footer.html.twig') }}

    </div>

</div>

</body>
</html>