<!-- Footer -->
<footer id="footer">
    <section>
        @2018 Jérémy Ferron et ROQUI David
    </section>


</footer>

<!-- Scripts -->
<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/ie/respond.min.js"></script>
<script src="assets/js/main.js"></script>