<!-- Header -->
<header id="header" class="alt">
    <div class="logo"><img src="images/logo.svg" alt="" /></div>
    <h1>Dispositif d'aide à la recherche</h1>
    <h2>Stage de découverte des 3èmes</h2>
</header>
<!-- Prof -->

<!-- Nav -->

<nav id="nav">
    <ul>
        <li><a href=/eleve/home>Accueil</a></li>
        <li><a href=/eleve/entreprises>Voir entreprises</a></li>
        <li><a href=/eleve/stage>Entrer un stage</a></li>
        <li><a href=/eleve/entreprise>Entrer une entreprise</a></li>
        <li><a href=/eleve/tuteur>Entrer un tuteur</a></li>
    </ul>
</nav>