<!DOCTYPE HTML>

<!--
Stellar by HTML5 UP
html5up.net | @ajlkn
Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
    <title>Aide Stage | Aide </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="/assets/js/ie/html5shiv.js"></script>
    <link rel="stylesheet" href="/assets/css/main.css" />
</head>

<body>

<!-- Wrapper -->
<div id="wrapper">

{{ include('prof/header.html.twig') }}

    <!-- Main -->
    <div id="main">

        <!-- Introduction -->
        <section id="intro" class="main">
            <a href=/pdf/eleves.pdf class="button fit" TARGET=_BLANK><b>Cliquez ici pour la version élève</b></a></center>
            <a href=/pdf/prof.pdf class="button fit" TARGET=_BLANK><b>Cliquez ici pour la version professeur</b></a></center></td>
        </section>
    {{ include('prof/footer.html.twig') }}
    </div>
</div>
</body>


</html>