<!DOCTYPE HTML>
<!--
	Stellar by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>Aide Stage | Connexion</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="/assets/js/ie/html5shiv.js"></script>
    <link rel="stylesheet" href="/assets/css/main.css"/>
</head>

<body>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header" class="alt">
        <h1>Dispositif d'aide à la recherche</h1>
        <h2>Stage de découverte des 3èmes</h2>
    </header>


    <!-- Main -->
    <div id="main">

        <!-- Introduction -->
        <section id="intro" class="main">
            <center> <h1>Veuillez sélectionner le mode d'authentification</h1>
                <a href="/eleve/home"> Elève </a><br>
                <a href="/prof/home"> Professeur </a></center>

        </section>

        {{ include('prof/footer.html.twig') }}
    </div>

</div>

</body>

</html>