<!DOCTYPE HTML>
<!--
Stellar by HTML5 UP
html5up.net | @ajlkn
Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
    <title>Aide Stage | Liste des élève avec stage</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="/assets/js/ie/html5shiv.js"></script>
    <link rel="stylesheet" href="/assets/css/main.css" />
</head>

<body>

<!-- Wrapper -->
<div id="wrapper">
    {{ include ('prof/header.html.twig') }}

    <!-- Main -->
    <div id="main">

        <!-- Introduction -->
        <section id="intro" class="main">
            <center>
                <h2> Liste des élèves avec stage </h2>
                <br>
                <table border="2px">
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Classe</th>
                    <th>Années scolaire</th>
                    <th>Nom de l'entreprise</th>
                    <th>Nom du tuteur</th>
                    <th>Professeur</th>
                    <th>Date de stage</th>
                    <th></th>
                    {% for avecStage in avecStages %}
                        <tr>
                            <td>{{ avecStage.nomEleve }}</td>
                            <td>{{ avecStage.prenomEleve }}</td>
                            <td>{{ avecStage.classeEleve }}</td>
                            <td>{{ avecStage.anneeScolaire }}</td>
                            <td>{{ avecStage.nomEntreprise }}</td>
                            <td>{{ "M./Mme. " }}{{ avecStage.nomTuteur }}</td>
                            <td>{{ "M./Mme. " }}{{ avecStage.nomProf }}</td>
                            <td>{{ avecStage.dateStage }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </center>
        </section>
        {{ include('prof/footer.html.twig') }}

    </div>

</div>

</body>
</html>