<!-- Header -->
<header id="header" class="alt">
    <div class="logo"><img src="images/logo.svg" alt="" /></div>
    <h1>Dispositif d'aide à la recherche</h1>
    <h2>Stage de découverte des 3èmes</h2>
</header>
<!-- Prof -->

<!-- Nav -->

<nav id="nav">
    <ul>
        <li><a href=/prof/home>Accueil</a></li>
        <li><a href=/prof/lists>Voir les listes</a></li>
        <li><a href=/prof/help>Aide</a></li>
    </ul>
</nav>