<!DOCTYPE HTML>

<!--
Stellar by HTML5 UP
html5up.net | @ajlkn
Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
    <title>Aide Stage | Accueil </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="/assets/js/ie/html5shiv.js"></script>
    <link rel="stylesheet" href="/assets/css/main.css" />
</head>

<body>

<!-- Wrapper -->
<div id="wrapper">

    {{ include('prof/header.html.twig') }}

    <!-- Main -->
    <div id="main">

        <!-- Introduction -->
        <section id="intro" class="main">
            <center><h2>Bonjour et bienvenue sur le site web réalisé pour donner un coup de pouce aux 3èmes dans la recherche de leur stage ! </h2>
                <h3>Cette version du site à laquelle vous, professeurs, avez accès, est différente de celle proposée aux élèves </h3></center>
            <p style="padding-top: 40px; padding-bottom: 0;">Voici ce que vous pouvez faire sur cette version-ci: </p>
            <ul style="padding-left:50px;">
                <li>
                    Voir la liste des élèves que vous suivrez tout au long de leur stage
                </li>
                <li>
                    Voir la liste des élèves qui n'ont pas encore de professeur assigné
                </li>
                <li>
                    Sélectionner le ou les élèves que vous comptez suivre durant cette période
                </li>
            </ul>
        </section>
        <!-- Fin de vérification du rôle pour page spécifique -->

        {{ include('prof/footer.html.twig') }}
    </div>
</div>

</body>


</html>