<!DOCTYPE HTML>
<!--
Stellar by HTML5 UP
html5up.net | @ajlkn
Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
    <title>Aide Stage | Liste </title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="/assets/js/ie/html5shiv.js"></script>
    <link rel="stylesheet" href="/assets/css/main.css" />
</head>

<body>

<!-- Wrapper -->
<div id="wrapper">
    {{ include ('prof/header.html.twig') }}

    <!-- Main -->
    <div id="main">

        <!-- Introduction -->
        <section id="intro" class="main">
            <center>
                <h2> Choisissez la liste vers laquelle vous souhaitez être redirigé </h2>
                <br>
                <a href="{{ path('listsEleveSansStage') }}" class="button fit">Liste des collégiens sans stage</a>
                <a href="{{ path('listsElevesAvecStage') }}" class="button fit">Liste de tous collégiens avec un stage</a>
                <a href="{{ path('listsElevesNonSuivis') }}" class="button fit">Liste des collégiens ayant un stages non suivis</a>
            </center>
        </section>
        {{ include('prof/footer.html.twig') }}

    </div>

</div>

</body>
</html>