<!DOCTYPE HTML>
<!--
Stellar by HTML5 UP
html5up.net | @ajlkn
Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>

<head>
    <title>Aide Stage | Liste des élèves sans stage</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="/assets/js/ie/html5shiv.js"></script>
    <link rel="stylesheet" href="/assets/css/main.css" />
</head>

<body>

<!-- Wrapper -->
<div id="wrapper">
    {{ include ('prof/header.html.twig') }}

    <!-- Main -->
    <div id="main">

        <!-- Introduction -->
        <section id="intro" class="main">
            <center>
                <h2> Liste des élèves sans stage </h2>
                <br>
                <table border="2px">
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Classe</th>
                    <th>Années scolaire</th>
                {% for sansStage in sansStages %}
                    <tr>
                        <td>{{ sansStage.nomEleve }}</td>
                        <td>{{ sansStage.prenomEleve }}</td>
                        <td>{{ sansStage.classeEleve }}</td>
                        <td>{{ sansStage.anneeScolaire }}</td>
                    </tr>
                {% endfor %}
                </table>
            </center>
        </section>
        {{ include('prof/footer.html.twig') }}

    </div>

</div>

</body>
</html>